* {
    padding: 0;
    margin: 0;
    font-family: FreeMono, monospace;
    box-sizing: border-box;
   	color: #A0522D;
}

/* menu */
.navbar {
	background-color: #FFFAFA;;
	letter-spacing: 1px;
}

.navbar a {
	color: #A0522D;
}

.navbar a:hover {
	color: #F4A460;
}

.contactIcon {
	font-size: 56px;
	color: #F4A460;
}

.glass {
	height: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
}

#sobre, #servicos, #portfolio, #contato {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* texto hero image */
.hero-text {
	position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
	color: #A0522D;
}

.bgimage {
	background: url('img/heroImage.jpg') 10%;
	background-size: cover;
	background-position: relative;
	height: 100vh;
	width: 100%;
}

/* sobre */
.sobre {
	background-color: #FFFAFA;
	text-align: justify;
}

.sobre h4 {
	margin-bottom: 15px;
}

.imagem_sobre {
	width: 100%;
	margin-top: 50px;
	border-radius: 5px;	
}

.btn_sobre {
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	width: 50%;
	display: inline-block;
	text-align: center;
	text-decoration: none;	
	font-size: 18px;
	cursor: pointer;
	background-color: #A0522D;
	color: #FDF5E6;
	opacity: 1;
  	transition: 0.3s;
}

.btn_sobre:hover {
	opacity: 0.6;
  	color: #FDF5E6;
}

/* habilidades */
.habilidades {
	padding: 100px 0px 50px 0px;
}

.card {
	padding: 15px;
}

.card-img-top {
	position: center;
}

.card-body {
	text-align: justify;
}

/* portfólio */
.portfolio {
	background-color: #FFFAFA;
	padding: 100px 0px 50px 0px;
	
}

.btn_portfolio {
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	width: 29%;
	display: inline-block;
	text-align: center;
	text-decoration: none;	
	font-size: 16px;
	cursor: pointer;
	background-color: #A0522D;
	color: #FDF5E6;
	opacity: 1;
  	transition: 0.3s;
}

.btn_portfolio:hover {
	opacity: 0.6;
  	color: #FDF5E6;
}